// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

@import "colors.less";
@import "buttons.less";

// Font sizes
@largeFontSize: 2rem;
@mediumFontSize: 1rem;

// Breakpoints
@mobileBreakPoint: 34.375rem;
@tabletBreakPoint: 46.875rem;



html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
// :root {
// 	font-size: 62.5%;
// }

* {
    box-sizing: border-box;
}

html, body {
	height: 100%;
	font-family: 'Quicksand', sans-serif;
}

h1, h2, h3 {
	text-transform: uppercase;
	text-align: center;
	font-weight: bold;
  }

h2 {
		font-size: @mediumFontSize + .5rem;
		color: @secondaryColor;
  }

h3 {
	font-size: @mediumFontSize + .2rem;
}

p {
	line-height: 1.3rem;
}

.container {
    display: flex;
	width: 100%;
	flex-wrap: wrap;
	justify-content: center;
}

.a-mixin() {
	text-decoration: none;
	color: @primaryColor;

	&:hover {
		color: @blackButtonColor;
	}
}
.section-mixin() {
	width: 90%;
	margin: 0 3.125rem;
	padding: 3.125rem;
	justify-content: center;
}

nav {
	width: 100%;
	font-weight: bold;
	justify-content: center;
	ul{
		display: flex;
		justify-content: center;

		@media(max-width: @mobileBreakPoint) { 
			flex-direction: column;
			align-items: center;
		}
	  }

	  li {
		margin: 3.125rem;

		@media(max-width: @mobileBreakPoint) { 
			margin: 1rem 0;
		}
	  }

	  a {
		.a-mixin();
	}

}

  header{
	  .section-mixin();

	  display: flex;
	  justify-content: space-around;
	//   height: 37.5rem;
	  background-color: @primaryBackgroundColor;
	  align-items: center;

	  @media(max-width: @tabletBreakPoint) { 
		flex-direction: column;
	  }

	  @media(max-width: @mobileBreakPoint) { 
		flex-direction: column;
	  }
	  
	  .header-image {
		width: 49%;

		img {
			height: 21.875rem;

			@media(max-width: @tabletBreakPoint + 5.9375rem) { 
				width: 250px;
			}
		}

		

		@media(max-width: @tabletBreakPoint) { 
			width: 100%;
			text-align: center;

			img {
				width: 12.5rem;
				height: 9.375rem;
				border-radius: 50%;
			}
		}
	  }

	  .header-text {
		  width: 40%;

		  h1 {
			  font-size: @largeFontSize;
			  margin-bottom: @mediumFontSize + .1rem;
			  color: @primaryColor;
		  }

		  h3 {
			  margin-bottom: 2rem;
		  }
		  @media(max-width: @tabletBreakPoint + 8.125rem) { 
			width: 30%;
		}

		  @media(max-width: @tabletBreakPoint) { 
			width: 100%;
			margin-top: 1rem;
		  }
	  }
  }

  .skills {
	  .section-mixin();
		
	  .skill-button {
		border-radius: 0.3rem;
		font-size: 1rem;
		-webkit-box-shadow: 0rem 0.25rem 0.75rem -0.25rem rgba(0,0,0,0.75);
		-moz-box-shadow: 0rem 0.25rem 0.75rem -0.25rem rgba(0,0,0,0.75);
		box-shadow: 0rem 0.25rem 0.75rem -0.25rem rgba(0,0,0,0.75);

		color: @white;
		font-weight: bold;

		border: none;
		margin: .5rem .5rem;

		.skill-button-text {
		  margin: .3rem;
		  text-transform: uppercase;
		}
	  }
  }

  .work-history {
	.section-mixin();
	  background-color: @secondaryBackgroundColor;

	  .company {
		  margin: 2rem 0;

		  .company-info {
			display: flex;
			justify-content: flex-start;
			align-items: center;
			margin-bottom: 1rem;
	
			img {
				margin-right: 1rem;
				width: @largeFontSize + @mediumFontSize;
				height: @largeFontSize + @mediumFontSize;
			}
		  }
		  
		  h4 {
			  font-weight: bold;
			  font-size: @mediumFontSize + .2rem;
			  margin-bottom: 1rem;
			  color: @secondaryColor;
		  }
	
		  p {
			  margin-bottom: 1rem;
		  }
	
		  li {
			  margin-bottom: .8rem;
		  }
	  }
  }

  .contact {
	.section-mixin();
	  background-color: @primaryBackgroundColor;

	  .contact-options {
		  text-align: center;
		  margin: 2rem 0;
		  
		a {
			.a-mixin();
			margin: 1.5rem 3rem;

			@media(max-width: @mobileBreakPoint) { 
				margin: 1.5rem 1.5rem;
		}
		}

	  }
 
  }
  
  footer {
	.section-mixin();

	color: @primaryColor;
	text-align: center;
  }
